body {
  background-color: wheat;
}

.news-block {
  padding: 10px;
  border-style: solid;
  border-color: white;
  margin: 20px;
  width: fit-content;
  background-image:radial-gradient(white, wheat)
}

.display-news {
  background-image:radial-gradient(white, wheat)
}

.filter-div {
  display: flex;
  align-items: center;
  margin: 10px;
  
}

.input {
  margin: 10px;
}
.search-bar {
  margin: 10px;
  display: flex;
  align-items: center;
}

.headlines {
  border-color: lightgrey;
  margin: 2px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.li-div {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  border-style: solid;
  border-color: white;
  height: min-content;
  height: 25em;
  width: 50em;
  max-width: fit-content;
  background-image:radial-gradient(white, wheat)
}

.li-div p {
  color: lightgrey;
}

.a-link:link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.a-link:visited {
  text-decoration: none;
}

.a-link:hover {
  text-decoration: underline;
}

.a-link:active {
  text-decoration: underline;
}

.filter-sections {
  display: flex;
}

.section-li {
  list-style: none;
  margin: 5px;
}

.new-article-li {
  list-style: none;
  justify-content: center;

}




.ul-div {

}

.ul {
  display: flex;
  
}
